body
{
    padding: 0;
    margin: 0;
}
@font-face {
  font-family: myFirstFont;
  src: url("Britannic Bold Regular.ttf");
}
@font-face {
  font-family: mySecondFont;
  src: url("SF-Pro-Display-Black.otf");
}
@font-face {
  font-family: myThirdFont;
  src: url("SF-Pro-Display-Thin.otf");
}
#rest_container
{
    width: 40%;
    margin: 0 auto;
    text-align: center; 
    font-family: mySecondFont;
}
form
{
    width: 100%;
    text-align: left;
    margin-top: 2rem;
}
form label
{
    font-family: myThirdFont;
}
form label, p
{
    font-size: 1.5rem;
}
form input
{
    background-color: transparent;
    width: 100%;
    height: 2rem;
    outline: none;
    border:none;
    border-bottom: solid 1px #FAD12B;
}
#submit_div
{
    width: 100%;
    text-align: center;
}
input[type = radio]
{
    display: inline-block;
    margin: 0;
}
#type_select1, #type_select2
{
    display: inline-block;
    margin: 0;
    width: 10%;
}
#submit
{
    width: 70%;
    height: 3rem;
    background-image: linear-gradient(to right,#052C6E, #01B5EB);
    border-radius: 2rem;
    font-size: 1.5rem;
    color: white;
    border: none;
}
#submit:hover
{
    cursor: pointer;
}
/*#id_coupon
{
    width: 100%;
    display: inline-block;
}*/
#coupon_submit
{
    width: 30%;
    transform: translateY(-220%);
    background-color: black;
    border-radius: 25px;
    border:none;
    color: white;
    font-family: myFourthFont;
    text-align: center;
    line-height: 2rem;
    height: 2rem;
    float: right;
}
#coupon_submit:hover
{
    cursor: pointer;
}
#discount_details
{
    font-family: myFourthFont;
    width: 100%;
}
.payment_steps
{
    font-size: 1.2rem;
    font-family: myThirdFont !important;
}
.payment_steps2
{
    text-align: left !important;
}
#payment_info button
{
    width: 60%;
    background-color: black;
    border-radius: 25px;
    border:none;
    color: white;
    font-family: myFourthFont;
    text-align: center;
    line-height: 2.5rem;
    height: 2.5rem;
}
#payment_info img
{
    width: 70%;
}
@media screen and (max-width: 800px)
{
    html
    {
        font-size: 75%;
    }
    header p
    {
        font-size: 1.5rem;
    }
    #rest_container
    {
        width: 70%;
    }
    #submit
    {
        width: 80%;
    }
    #coupon_submit
    {
        width: 35%;
    }
}
    
